/* CSS RESET */

:root {
    /*bgs*/
--clr-primary-bg: #0E0E0E;
--clr-secondary-bg: #282828;
--clr-secondary-bg-light: #3C3C3C;


   /*text button containers */
--clr-light-white:#F9F9F9;
--clr-button-midtext: #1677FF;

--clr-gradient: linear-gradient(45deg, #002E6F, #1677FF);
   
/*font family*/
--ff-primary:  font-family: "Poppins", sans-serif;

--ff-body:var(var(--ff-primary));
--ff-heading:var(var(--ff-primary));

/*font weights*/
--fw-light: 300;
--fw-medium: 400;
--fw-bold: 600;
--fw-extra-bold:900;
}


.MainCard2{
    overflow: hidden;
    position: relative;
    background: radial-gradient(111.19% 141.42% at 100% 0%, #1677FF 0%, #002E6F 100%);
    border-radius: 15px;
    width: 24rem;
    height: 25.75rem;
    color: var(--clr-light-white);
    font-family: var(--ff-body);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically within each card */
    align-items: center;     /* Center content horizontally within each card */


}

.Titlecard2{
    
        margin-bottom: 10px;
        margin-top: 5px;
        color: white;
        font-size: 40px;
        font-family: Poppins;
        font-weight: 600;
        width: 350px;
        
        
    
}