/* CSS RESET */

:root {
    /*bgs*/
--clr-primary-bg: #0E0E0E;
--clr-secondary-bg: #282828;
--clr-secondary-bg-light: #3C3C3C;


   /*text button containers */
--clr-light-white:#F9F9F9;
--clr-button-midtext: #1677FF;

--clr-gradient: linear-gradient(45deg, #002E6F, #1677FF);
   
/*font family*/
--ff-primary:  font-family: "Poppins", sans-serif;

--ff-body:var(var(--ff-primary));
--ff-heading:var(var(--ff-primary));

/*font weights*/
--fw-light: 300;
--fw-medium: 400;
--fw-bold: 600;
--fw-extra-bold:900;
}


     
    .Muscles {
        background-color: #0E0E0E;
        display: flex;
        justify-content: center;  /* Centers the card horizontally */
        align-items: center;      /* Centers the card vertically */
        flex-direction: column;   /* as always the solution */
      }
       
    .Title{
        height: 24%; 
        color: var(--clr-button-midtext);
        font-family: var(--ff-primary);
        font-size: 2rem;
        font-weight: var(--fw-bold);
        text-align: center;
        margin-top:5%;
        margin-bottom: 5%;
        border: 1px solid var(--clr-button-midtext);
        padding:2% 5%;
        border-radius: 15px;
    }  

    .Muscles_Content span{
        color: var(--clr-button-midtext);
    }

    .Muscles_Content{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 5%;
        padding-left: 5%;
        gap:10%;
    }

    .exercise_card{
       width: 40%;    /* here you can adjust the width of the card as per your requirement */
    }
    .excercice_explanation{
        width: 55%; 
        color: var(--clr-light-white);
        font-family: var(--ff-primary);
        font-size: 18px; /* Adjust font size as needed */
        font-weight: 500;
        line-height: 1.5; /* Adjust line height as needed */
        padding: 10px; /* Add padding for better readability */
    
    }



    @media screen and (max-width: 916px){
        .Muscles_Content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 5%;
            padding-left: 5%;
            gap:10%;
        }
    
    }