/* CSS RESET */

:root {
    /*bgs*/
--clr-primary-bg: #0E0E0E;
--clr-secondary-bg: #282828;
--clr-secondary-bg-light: #3C3C3C;


   /*text button containers */
--clr-light-white:#F9F9F9;
--clr-button-midtext: #1677FF;

--clr-gradient: linear-gradient(45deg, #002E6F, #1677FF);
   
/*font family*/
--ff-primary:  font-family: "Poppins", sans-serif;

--ff-body:var(var(--ff-primary));
--ff-heading:var(var(--ff-primary));

/*font weights*/
--fw-light: 300;
--fw-medium: 400;
--fw-bold: 600;
--fw-extra-bold:900;
}
   

    body{
        background-color: var(--clr-primary-bg);
        margin: 0;
        padding: 0;
    }

    .main_content{
        background-color: var(--clr-primary-bg);
        margin-top: 0px;;
        width: 100%;
        height: 100vh;
    }


    .title{
        font-size: 4rem;
        background-color: #0E0E0E;
        height: 20%;
        width: 60%;
        padding-top: 5%;
        margin: auto;
        text-align: center;
    }

    .discover{
        color: #F9F9F9;
        font-weight: bold;
    }

    

    .everyday{
        color: #F9F9F9;
        font-weight: bold;
    }

    .bulk{
        color: #F64A4A;
        font-weight: bolder;
    }

    .meals{
        color: #1677FF;
        font-weight: bolder;
    }


    .btn{
        height: 40%;
        width: 40%;
        text-align: center;
        position: relative;
        left: -7%;

    }

    .btn_back{
        background-color:#0E0E0E;
        border: none;
        color: #F9F9F9;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 36%;
        margin-left: 2%;
        height: 20%;
        width: 30%;
        cursor: pointer ;
    }

    
    .food_card{
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
        height: 70%;
        margin:auto;
        margin-bottom: 3%;
        flex-shrink: 0;
        border-radius: 15px;
        border: 1px solid #282828;
        background: #212121;
        box-shadow: 4px 4px 10px 6px rgba(17, 17, 17, 0.25);
        display: flex;
        flex-direction: row;
        gap:  20px;    
    }



    .food_img{
        width: 40%;
        height: 84%;
        margin-top: 3%;
        margin-left:3% ;
        flex-shrink: 0;
        border-radius: 15px;
        background: #3B3B3B;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);

        
        

    }


    .food_description{
        color: #F9F9F9;
       
    }

    .food_ingredients{
       
        color: #F9F9F9;
        
    }
    

    .food_steps{
        color: #F9F9F9;
    }


    .food_details{
        width: 60%;
        margin-top: 3.5%;
        margin-left: 4%;
    }


    .recipe_title{
        font-size: 1.5rem;
        color: #F9F9F9;
        font-weight: bold;
      
    }



    @media ( min-width: 300px) and (max-width: 554px) {
        .food_card {
            flex-direction: column;
            
            height: 100%;
            margin-top: -40%;
            margin-bottom: 45%;
          


        }
        .food_details {
            width: 50%;
            height:auto;
            margin: auto;
            font-size: 11px;
            margin-top: -5%;
        }
       .food_img {  
        width: 60%;
        height: 30%;
        margin: auto;
    }

    .btn_back{
        width: 70%;
        margin-top: 30%;
        margin-left: 20%;
        position: relative;
    }

    .title{
        height: 10%;
        margin-top: 15%;
        width: 70%;
        font-size: 20px;
    }

}




    @media ( min-width: 555px) and (max-width: 759px) {
        .food_card {
            flex-direction: column;
            
            height: 100%;
            margin-top: -40%;
            margin-bottom: 45%;
          


        }
        .food_details {
            width: 50%;
            height: auto;
            margin: auto;
            font-size: 10px;
            margin-top: -5%;
        }
       .food_img {  
        width: 60%;
        height: 30%;
        margin: auto;
    }

    .btn_back{
        width: 80%;
        margin-top: 20%;
        margin-left: 10%;
    }

    .title{
        height: 10%;
        margin-top: 5%;
        width: 70%;
        font-size: 40px;
    }

}






@media ( min-width: 760px) and (max-width: 940px) {
    .food_card {
      height: 100%;
      flex-direction: column;
      margin-top: -20%;
      margin-bottom: 23%;
    }
    .food_details {
        width: 50%;
        height: auto;
        margin: auto;
        font-size: 15px;
        margin-top: -5%;
        
    }
   .food_img {  
    height: 35%;
    width: 50%;
    margin: auto;

   
}

.btn_back{
    width: 80%;
    margin-top: 30%;
    margin-left: 10%;
}

.title{
    height: 10%;
    margin-top: 5%;
    width: 70%;
    font-size: 40px;
}

}